player-connection-mode=Listen
player-connection-guid=1729948349
player-connection-debug=0
player-connection-project-name=HyperScanningEyeTracking
player-connection-ip=130.216.209.15
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=1
vr-device-list=OpenVR
hdr-display-enabled=0
